# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List Data Science Tools (Open Source)
- Show some arithmetic coding examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy (Python)
2. pandas (Python)
3. tensorflow (Python)
4. ggplot (R)
5. caret (R)

| Data Science Tools |
| ------------------ |
| Hadoop |
| RStudio |
| GitHub |

### A few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [23]:
# This will convert 200 minutes to hours by diving by 60
h = 200/60
print(f"200 minutes equal {h:.1f} hours.")

200 minutes equal 3.3 hours.

## Author
E. Bader